!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BlogApp
    %meta{:content => "authenticity_token", :name => "csrf-param"}/
    %meta{:content => "YEnXQhHjyZYV4TvSSsmEAzqaWWy9afrpAAoZ4Zi6J5i4demNHOTF6Xyjxsh+LmedZHzE6Xm1knRyR8TVu04J7Q==", :name => "csrf-token"}/
    %link{"data-turbolinks-track" => "reload", :href => "/assets/application.debug-b78deeed0d68eba10c5c81029ec5ae6dc382c040f68828f14b32c08708ced9fe.css", :media => "all", :rel => "stylesheet"}/
    %script{"data-turbolinks-track" => "reload", :src => "/packs/js/application-e88c6c3304a15e6886b6.js"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
  %body
    %header.header
      .header_logos
        %a{:href => "javascript:history.back()"}
          %img.header_back{:src => "/assets/back-03cbfab77439e6430649dbb76dff270058f95084f40815ee948d8c0c06c5e06b.svg"}/
        %p.header_pageTitle BlogApp
        .dropdown
          %img.header_avatar.dropbtn{:src => "/assets/default-avatar-12a3f7379a4333007fa16fb67297f8a31c88580ccdaf11eb0be7323847c5641a.png"}/
          .dropdown-content
            %a{:href => "#"} プロフィール
            %a{"data-method" => "delete", :href => "/users/sign_out"} ログアウト
            %a{:href => "#"} ログアウト
        %a.header_loginBtn{:href => "/users/sign_in"} ログイン
    .article
      %h1.article_title aaaaaaaaaaaaaaaaaaaaaaaaaaaa
      .article_detail
        %img{:src => "/assets/default-avatar-12a3f7379a4333007fa16fb67297f8a31c88580ccdaf11eb0be7323847c5641a.png"}/
        %div
          %p kaz19901130
          %p 2021/03/21
        .article_detail_actions
          .dropdown
            .dropdown-content.mini
              %a{:href => "/articles/1/edit"} 編集する
              %a{"data-confirm" => "本当に削除してもよろしいですか？", "data-method" => "delete", :href => "/articles/1"} 削除する
            %img.dropbtn{:src => "/assets/actions-58eada653422729daee2951c784c728da9024a01db7ffd9b8da6a910c9614eb2.svg"}/
      .article_content
        bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
        bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
        bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb１１
      .article_heart
        %img{:src => "/assets/heart-5eb2f78607747c285079e5db24966a27642c75624d40d732296353ed6be6ae81.svg"}/
    .container
    %a{:href => "/articles/1/comments/new"}
      .btn-secondary
        コメントを追加
